<body>
<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label> author name:</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            ngModel
            required
            #user="ngModel"
          >
        </div>
        <div class="form-group">
          <label>Title:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            ngModel
            name="title"
            required
            #title="ngModel">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
      </form>

    </div>
  </div>
</div>
</body>
