<div class="panel panel-default" [routerLink]="['posts',index]">
  <!--<div class="panel-heading">{{ blog.title }}-->
  <!--<p style="float: right" > {{ blog.date }}</p>-->
  <!--</div>-->
  <div class="panel-body" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type.</div>
  <!--<div class="panel-footer" style="font-size: x-small">By: {{ blog.author }}</div>-->
</div>
