<div class="container">
  <div class="row">
    <div class="col-md-10 ">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label> Title : </label>
        <input
        type="text"
        class="form-control"
        id="title"
        ngModel
        name="title">
      </div>
      <div class="form-group">
        <label> Content : </label>
        <input
        type="text"
        class="form-control"
        id="content"
        ngModel
        name="content">
      </div>
      <div class="form-group">
        <label>Image (if any) :</label>
        <input
        type="file"
        class="form-control-file"
        id="imageLink"
        ngModel
        name="fileUupload"
        (selected)="onUpload($event)"
        value="fileUpload">
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>
